body {
  margin: 9px 9px 0;
  min-width: 320px;
}

/*Header*/

header {
  display: flex;
  width: 100%;
}

.mugshot {
  width: 25%;
  margin: 0;
}

.mugshot img {
  width: 100%;
  -webkit-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.title {
  width: 75%;
  text-align: right;
  text-shadow: 4px 4px 4px #aaa;
}

.title h1 {
  margin: 0 9px 0 0;
  font-size: 2em;
}

.title p {
  margin: 0 9px 0 0;
  padding-top: 5%;
  font-size: 1.4em;
}

.progress {
  color: red;
  font-size: 1em;
  padding-top: 2%;
}

hr {
  margin: 3px 0 3px;
}


/*Nav*/

nav {
  /* Safari */
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
  color: white;
}

.active {
  background-color: rgb(47, 173, 214);
  color: black;
}


/*About me*/

.about img {
  width: 100%;
}

.about p {
  margin: 0 0.6em;
  font-size: 1.2em;
  text-align: justify;
}

/*Portfolio*/

h2 {
  text-decoration: underline;
  margin: 0.5em;
  font-size: 1.7em;
}

.portfolio {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.project {
  width: 95%;
  border: solid black;
  border-radius: 8px;
  margin: 0 0 15px 9px;
  -webkit-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

.project-title {
  margin: 0;
  font-size: 1.4em;
  text-align: center;
}

.project-link {
  font-size: 1em;
  margin: 10px 0 20px;
  text-align: center;
}


/*Footer*/

footer {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  margin: 3px -3px 15px;
  border: solid black;
  border-radius: 8px;
  -webkit-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 6px 6px 18px -1px rgba(0, 0, 0, 0.75);
}

footer a {
  text-decoration: none;
}

.github {
  margin-top: 5px;
  width: 80px;
}

.twitter {
  margin-top: 5px;
  width: 80px;
}

h4 {
  padding: 10px 50px 0;
  text-align: center;
  font-size: 1.2em;
  line-height: 48px;
  margin: 9px;
  color: red;
  text-decoration: underline;
}


/*Media queries*/

@media screen and (min-width: 475px) {
  body {
    font-size: 20px;
  }
}

@media screen and (min-width: 600px) {
  body {
    font-size: 25px;
  }
  .portfolio {
    flex-wrap: nowrap;
  }
  .project {
    margin: 0 0 16px;
  }
  .project img {
    width: 30%;
    height: 30%;
  }
  .project-title {
    font-size: 1em;
  }
  .project-link {
    font-size: 0.8em;
  }
}

@media screen and (max-width: 400px) {
  .github {
    width: 38px;
    padding: 2px 0 1px 10px;
  }
  .twitter {
    width: 38px;
    padding: 30x 15px 1px 0;
  }
  h4 {
    padding: 0;
    margin: 0 12px 0;
    font-size: 1.1em;
  }
}

@media screen and (max-width: 500px) {
  .github {
    width: 38px;
    padding: 2px 0 1px 10px;
  }
  .twitter {
    width: 38px;
    padding: 30x 15px 1px 0;
  }
  h4 {
    padding: 0;
    margin: 0;
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  body {
    font-size: 30px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}